<header class="header">  <!--class header-->
  <div class="header-container">

    <div class="logo">
      <span class="logo-icon">🧕</span>
      <h1>Hijabi Styles</h1>
    </div>

    <nav class="nav">
      <a routerLink="/product" routerLinkActive="active">Catégories</a>
      <a routerLink="/cart" routerLinkActive="active" class="cart-link">
        🛒 Panier ({{ cartItemCount }})
      </a>
      <a routerLink="/inscription" routerLinkActive="active">Inscription</a>
    </nav>

  </div>
</header>
