<div class="product-list">


    <div class="products-grid">
        <div *ngFor="let product of filteredProducts" class="product-card">
            <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
            <div class="product-info">
                <h3 class="product-name">{{product.name}}</h3>

                <p class="product-description">{{ product.description }}</p>

                <p class="product-price">{{ product.price }} DT</p>
 <!-- BOUTON AJOUTER AU PANIER -->
    <button (click)="addToCart(product)" class="btn-panier">
      Ajouter au panier
    </button>
  </div>
</div>
            </div>
        </div>

